.DS_Store
**/.DS_Store
*.rbc
*.sassc
*.log
.sass-cache
.rspec
.rvmrc
.powenv
.powder
.project
.yard
.yardoc
.byebug_history
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/404.html
/public/system/422.html
/public/system/500.html
/public/system/facivon.ico
/public/system/robots.txt
/public/system/development/picture_photos/*
/public/system/attachments/*
/coverage/
/spec/tmp/*
**.orig
**.kml
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
dump.rdb
latest.dump
test/screenshots/*
/components/merchant_dashboard/app/assets/stylesheets-old/*
/config/initializers/byebug.rb


# Ignore application configuration
/config/application.yml

# for those of us using RubyMine, ignore its droppings.
.idea
**/.idea

# and ignore any of my own droppings.
foo*
*~

# ignore node_modules and bower
node_modules/*
vendor/assets/bower_components
js-coverage/*
