<!DOCTYPE html>
<html>
  <head>
    <title>Intercom Conversation Stats</title>
    <h1>Authorization Test</h1>
  </head>

  <body>
    <p><%=
    if @google_auth == 2
      "Google authorization and login successful. Spreadsheet accessed successfully."
    elsif @google_auth == 1
      "Google authorization and login successful. Spreadsheet access failed. Make sure you have the correct spreadsheet ID."
    else
      "Google authorization and login failed. Check your credentials."
    end
    %></p>

    <p><%=
    if @intercom_auth
      "Intercom authorization successful."
    else
      "Intercom authorization failed. Check your credentials."
    end
    %></p>
  </body>
</html>
